body
{
  background-color: #d4ebd0;
}
h1
{
  color: #66BFBF;
}
h3
{
  color: green;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 7px;
  width: 10%;
  /* height: 2px; */
}
