/* div{

  background-color: #1eb2a6;

} */

body{
  margin: 0;
  text-align: center;
  /* It center everything in the center in the website */
  /* font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
   */
  font-family: 'Vollkorn', serif;
  font-size:200%;
}
h1{
  line-height:2;
  color: #66BFBF;
  margin: 70px auto 0 auto;
  /* top: right: bottom : left setting to make the text auto center */
  font-family: 'Dancing Script', cursive;
  font-size: 5.625rem;
  /* 16px=100% =1 em use rem- font size always -- most adoptable and reliable wrt body  */
}


h2{
  color: #66BFBF;
  font-weight: normal;
  font-size:2.5rem;
  /* Dynamic font size */
  font-family: 'Cormorant Garamond', serif;

}
h3
{
  color: #66BFBF;
  font-family: 'Cormorant Garamond', serif;
}
.top_container
{
  background-color: #1eb2a6;
  padding-top: 100px;
}
.middle_container{


}
.bottom_container{

}
.Data{
  text-decoration:underline;
}
.bottom-cloud{
  position: absolute;
  left:100px;

}
.top-cloud{
  position: absolute;
  right:40px;
  top: 20px;
}
.middle-cloud{
  width:25%;
  float: left;
  margin-right: 30px;
}
/* .abs{
  position: absolute;
  right:30px;
} */

/* p{
  padding-left: 30%;
} */
